.gridCell{
	height: 150px;
	width: 30%;
	background-color: red;
	margin : 1.66%;
}
.back{
	background-color: #232323;
}
#container{
	max-width: 600px;
	margin: 0 auto;

}
h1{
	color: white;
	background-color: blue;
}
.header{
	margin-top: 0px;
	margin-bottom: 0px
}
#stripe{
	background-color: white;
	text-align: center;
}
.selected{
	background-color: blue;
	color: white;
}