body{
	 font-family: "Lucida Console", Monaco, monospace;
}
.gridCell{
	height: 150px;
	width: 30%;
	background-color: red;
	margin : 1.66%;
	border-radius: 15%;
	transition: background 0.5s;

}
.back{
	background-color: #232323;
}
#container{
	max-width: 600px;
	margin: 20px auto;

}
h1{
	color: white;
	background-color: #4682b4;
	text-align: center;
	 text-transform: uppercase;
	 font-weight: normal;
	 padding : 20px 0;
	 line-height: 1.1;
}
h1 span{
	font-size: 1.5em;
}
.header{
	margin-top: 0px;
	margin-bottom: 0px
}
#stripe{
	background-color: white;
	text-align: center;
}
.selected{
	background-color: #4682b4;
	color: white;
}
button{
	border : none;
	background : none;
	text-transform: uppercase;
	height: 100%;
	color: #4682b4;
	letter-spacing: 1px;
	transition: all 0.5s;
	outline:none;
}
button:hover {
    background-color: #4682b4;
    color: white;
}
#result{
	display: inline-block;
	width: 20%;
}